* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 3;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

header {
    background: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
    margin: 15%;
    margin-top: 0;
    margin-bottom: 0;
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #000;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.gallerymain{
    display: grid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.galleryfigure{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.form {
    width: 80%;
    margin: 0px auto;

    .input {
        display: flex;
        flex-direction: column;
        align-items: start;

        input {
            width: 100%;
        }
    }

    h1 {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }

    button {
        padding: 10px 20px;
    }
}

.review {
    display: flex;
    flex-direction: column;
    border: solid 1px gray;
    margin: 10px auto;
    padding: 4px 10px;

    p {
        text-align: start;
    }
}

.review__person {
    display: flex;
    justify-content: space-between;
}